@import 'assets/styles/colors';

body {
  font-size: 15px;
  font-family: "Roboto",Helvetica,Arial,sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: "Spartan","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.hidden {
  display: none !important;
}
.content-container a, .content-container a:link, .content-container a:visited {
  color: $link;
  font-weight: 600;
}
.content-container a:hover {
  color: $link-lighter;
}
.content-container a:active {
  color: $link-darker;
}
@media (min-width: 768px) and (max-width: 991px) {
  .container, .container-md, .container-sm {
    max-width: 738px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .container, .container-sm {
    max-width: 546px;
    padding-left: 0;
    padding-right: 0;
  }
}

.app-body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $footer-grey;
}
.top-bar {
  background-color: $footer-grey;
  height: 30px;
}
.top-bar ul{
  margin: 0;
  padding: 0;
}
.top-bar .top-bar-list > li {
  display: inline-block;
  list-style-type: none;
}
.top-bar .social-icons > li:hover {
  background-color: $dark-grey-hover
}
.top-bar .social-icon {
  color: #fff;
  display: block;
  width: 28px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 0 1px;
}
.top-bar .top-bar-link {
  color: #fff;
  display: block;
  height: 30px;
  line-height: 30px;
}
.top-bar .top-bar-link span {
  font-size: 13px;
}
.header {
  background-color: #fff;
}

.main-nav {
  border-bottom: 1px solid $light-grey;
  transition: all 0.3s linear;
}
.main-nav .navbar {
  padding-top: 0;
  padding-bottom: 0;
}
.main-nav .navbar a {
  text-decoration: none;
}
.main-nav .nav-item {
  padding: 0;
}
.main-nav .nav-item a {
  color: #444;
}
.main-nav .nav-item {
  border-bottom: 2px solid #FFF;
}
.main-nav .nav-item:hover {
  border-bottom: 2px solid $dark-grey;
}
.main-nav .navbar-toggler-icon {
  line-height: 1.5em;
}
.main-nav .navbar-toggler-nopadding {
  padding: 0;
}
.main-nav .nav-item > a {
  padding: 15px;
  display: block;
  font-size: 14px;
}

.navbar-nav > li.dropdown:hover > ul.dropdown-menu {
  display: block;
}
.navbar-nav > li.dropdown ul.dropdown-menu {
  border-radius: 0;
  border: 1px solid #eee;
  padding: 0;
}
.navbar-nav > li.dropdown > ul.dropdown-menu > li.dropdown:hover > ul.dropdown-menu {
  display: block;
  top: 0;
  left: 100%;
}
.navbar-nav > li.dropdown > ul a {
  padding: 10px;
}
.navbar-nav > li.dropdown.right > ul.dropdown-menu {
  right: 0;
  left: auto;
}
.navbar-nav > li.dropdown.right > ul.dropdown-menu ul {
  left: -158px !important;
  right: auto;
}
.navbar-nav > li.dropdown > ul.dropdown-menu > li.dropdown.right ul {
  left: -158px !important;
  right: auto;
}
.navbar-nav > li.dropdown ul.dropdown-menu > li > a {
  padding: 8px;
  white-space: nowrap;
}
.navbar-nav > li.dropdown ul.dropdown-menu > li, .navbar-nav > li.dropdown ul.dropdown-menu > li:hover {
  border: 0 none;
}
.navbar-nav > li.dropdown ul.dropdown-menu > li > a:hover {
  border: 0 none;
  background-color: #ddd;
  width: calc(100% - 1px);
}

  /* fix for open state */
.navbar-nav .open > .dropdown-menu {
  display: none;
}
.search-trigger > span {
  padding: 14px 15px;
  cursor: pointer;
  display: block;
}
.search-trigger {
  border-bottom: 2px solid #fff;
}
.search-trigger:hover {
  border-bottom: 2px solid #24302a;
}
.generic-search-input {
  position: absolute;
  width: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: 0.2s opacity;
  z-index: -1;
  height: 0;
}
.generic-search-input.visible {
  opacity: 0.8;
  height: 50px;
  z-index: 999999;
  height: 40px;
}
.generic-search-input form {
  display: none;
}
.generic-search-input.visible form {
  display: block;
}
.generic-search-input input {
  width: 100%;
  background-color: $darker-green;
  color: #fff;
  border: 1px solid #ddd;
  line-height: 40px;
  padding: 0 40px 0 15px;
}
.generic-search-input .search-submit {
  position: absolute;
  right: 5px;
  top: 2px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  color: #f0f0f0;
  line-height: 36px;
  text-align: center;
}

.content-container {
  background-color: $crem;
  padding: 30px 0 40px 0 !important;
}
.home-carousel {
  margin: -30px -15px 0 -15px;
}
.carousel-default-item {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -30px;
  margin-top: -30px;
}
.carousel-img {
  width: 100%;
  height: 460px;
  position: absolute;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
.carousel-overlay {
  z-index:2;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
}
.carousel-caption {
  z-index: 3;
  font-weight: bold;
  font-size: 16px;
}
.carousel-caption h3 {
  font-size: 36px;
  font-weight: bold;
}
.carousel-caption.d-none {
  display: block !important;
}
.carousel-caption-link {
  margin: 15px auto 0 auto;
  display: block;
  width: 100px;
  text-shadow: none;
  color: #fff !important;
}
.carousel-control-prev, .carousel-control-next {
  z-index: 4;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  background-image: none;
}
.carousel-control-next-icon:after{
  content: "\f054";
  font-family: 'FontAwesome';
  font-size: 30px;
  color: #fff;
  text-shadow: 1px 1px rgba(0,0,0,0.5);
}

.carousel-control-prev-icon:after {
  content: "\f053";
  font-family: 'FontAwesome';
  font-size: 30px;
  color: #fff;
  text-shadow: 1px 1px rgba(0,0,0,0.5);
}

.home-highlight {
  position: relative;
  display: block;
  height: 280px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
}
.home-highlight-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(0deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 50%);
}
.home-highlight-img {
  position: absolute;
  z-index: 1;
  background-position: center center;
  background-size: cover;
  display: block;
  top: 0;
  right: 0;
  bottom: 100px;
  left: 0;
  transition: transform 0.5s;
}
.home-highlight-text {
  z-index: 5;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 180px;
  background-color: #fff;
  padding: 15px;
  max-width: 100%;
}
.home-highlight-text h4 {
  font-size: 18px;
  white-space: normal;
  text-align: center;
}
.home-highlight:hover .home-highlight-img{
  transform:scale(1.1);
}
.home-highlight-caption {
  font-size: 12px;
  text-align: center;
}
.home-highlight-container {
  display: inline-block;
  margin-right: 15px;
}
.home-highlight-container:last-child {
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  .home-highlight-container {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 576px) {
  .home-highlight-container {
  }
}

.people-list {
  margin-bottom: 10px;
}
.people-list-thumbnail {
  max-width: 40px;
  margin-right: 10px;
}

/* breadcrumbs */

.breadcrumb {
  background-color: #fff;
  justify-content: flex-end;
  font-size: 13px;
  padding: 0.5rem;
  border: 1px solid rgba(0,0,0,.125)
}
.breadcrumb-item a {
  color: #137184;
}
.breadcrumb-item a:hover {
  text-decoration: none;
  color: #1689a0;
}
.breadcrumb-item a:active {
  color: #105b6b;
}
.navbar-toggler-icon {

}
.breadcrumb-item i {
  line-height: 13px;
  margin-right: 5px;
  margin-top: 3px;
}

.bw-logo {
  display: block;
  white-space: nowrap;
}
.logo-container {
  display: block;
}
.logo-img {
  height: 28px;
}
.bw-logo .simple-text {
  color: #333;
  text-transform: uppercase;
  display: inline-block;
  font-size: 19px;
  line-height: 19px;
  vertical-align: middle;
}
.bw-logo .simple-text.icon {
  position: relative;
  width: 28px;
  height: 22px;
}
.bw-logo .bw-container {
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  top: -5px;
}
.bw-logo
.triangle-left {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 20px solid #333;
  border-right: 20px solid transparent;
  z-index: 1;
}
.bw-logo
.triangle-left-inner {
  position: absolute;
  bottom: 2px;
  left: 2px;
  width: 0;
  height: 0;
  border-bottom: 13px solid #fff;
  border-right: 13px solid transparent;
  z-index: 2;
}
.bw-logo
.triangle-right {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 20px solid #333;
  border-left: 20px solid transparent;
  z-index: 3;
}
.bw-logo
.triangle-right-inner {
  position: absolute;
  bottom: 2px;
  left: 5px;
  width: 0;
  height: 0;
  border-bottom: 13px solid #fff;
  border-left: 13px solid transparent;
  z-index: 4;
}


.page-actions {
  padding-bottom: 15px;
  display: block;
  position: relative;
  min-height: 40px;
}
.go-to-page {
  float: right;
  padding: 0 0 0 10px;
}
.go-to-page input {
  max-width: 40px;
}
.go-to-page .input-group-append {
  background-color: #fff !important;
}
.go-to-page .input-group-append .total-pages {
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  padding: 0 5px;
  line-height: 28px;
  color: #777;
}
.go-to-page input:focus {
  border-color: #dee2e6 !important;
  box-shadow: 0 0 5px rgba(81,203,206,0.8) inset;
}
.go-to-page .btn-outline-secondary, .go-to-page .btn-outline-secondary.disabled {
  border-color: #dee2e6 !important;
}
.go-to-page-btn {
  width: 30px;
}
.page-action-item {
  padding-right: 10px;
  float: right;
}
.page-action-item .dropdown-toggle.btn-outline-secondary {
  background-color: #fff;
  border-color: #dee2e6 !important;
}
.page-action-item .dropdown-toggle.btn-outline-secondary:hover {
  border-color: #6c757d;
  color: #212529;
}
.page-action-item .btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle {
  color: #212529;
}
.page-action-item .dropdown-item.active, .dropdown-item:active {
  background-color: #52CACD;
}

.pagination-container {
  float: right;
}
.pagination-container .page-link {
  color: #666;
  min-width: 36px;
  padding: 0.4rem 0.5rem;
  font-size: 13px;
}
.pagination-container li.active .page-link {
  background-color: #51cbce;
  border-color: #51cbce;
}
.page-link:focus {
  box-shadow: none;
}
.pagination-container.mini .page-link {
  color: #666;
  min-width: 24px;
  padding: 0.2rem 0.2rem;
  font-size: 10px;
}
.people-tags-pagination {
  float: left;
  padding: 10px 0;
}
.filter-body {
  max-height: 300px;
  overflow: auto;
  //padding-right: 15px;
  //margin-right: -15px;
  width: 100%;
}

.filter-body .form-group {
  position: relative;
  margin-bottom: 0;
}
.filter-body .form-check-input {
  margin-left: 0;
  margin-top: 0;
}

.show-classpiece {
  cursor: pointer;
  padding-bottom: 15px;
}
.classpiece-viewer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999999999999999999;
  overflow: hidden;
  background-color: rgba(0,0,0,0.3);
}
.classpiece-viewer-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.classpiece-viewer-header {
  position: fixed;
  top: 0;
  right: 0;
  left:0;
  height: 60px;
  z-index: 2;
  background-color: rgba(0,0,0,0.3);
}
.classpiece-viewer-header h4 {
  color: #fff;
  line-height: 60px;
  padding: 0 15px;
}
.classpiece-viewer-close {
  cursor: pointer;
  color: #e0e0e0;
  font-size: 60px;
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  text-shadow: 0 0 1px rgba(0,0,0,0.5);
  z-index: 2;
}
.classpiece-viewer-close:hover {
  color: #fff;
}
.classpiece-viewer-close:active {
  color: #ddd;
}
.classpiece-full-size {
  position: absolute;
  z-index: 1;
  cursor: grab;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.classpiece-full-size:active {
  cursor: grabbing;
}
.classpiece-full-size .img {
  max-height: 100%;
  max-width: 100%;
}

.zoom-container {
  margin: 0 0 0 5px;
  position: absolute;
  right: 16px;
  top: 80px;
  z-index: 3;
}
.zoom-action {
  cursor: pointer;
  background-color: #FFF;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  transition: all 0.3s;
}
.zoom-container .zoom-action:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.zoom-container .zoom-action:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.zoom-action:hover {
  background-color: #eee;
}
.zoom-action:active {
  background-color: #d0d0d0;
}
.zoom-action.active {
  background-color: #466ddb;
  color: #fff;
}
/*
.zoom-action.active.color1 {
  background-color: #DE9A96;
}
.zoom-action.active.color2 {
  background-color: #F5D98B;
  color: #333;
}
.zoom-action.active.color3 {
  background-color: #FAF3A5;
  color: #333;
}
.zoom-action.active.color4 {
  background-color: #82CEB6;
}
.zoom-action.active.color5 {
  background-color: #96E3E6;
}
.zoom-action.active.color6 {
  background-color: #89BDE0;
}
*/

.pan-container {
  width: 60px;
  height: 60px;
  margin-top: 20px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  right: 5px;
  top: 160px;
  z-index: 3;
}
.pan-action {
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 50%;
  font-size: 14px;
}
.pan-action:hover {
  background-color: #eee;
}
.pan-action:active {
  background-color: #d0d0d0;
}

.pan-action.up {
  top: 0;
  left: 18px;
}
.pan-action.right {
  top: 18px;
  right: 0;
}
.pan-action.down {
  bottom: 0;
  left: 18px;
}
.pan-action.left {
  top: 18px;
  left: 0;
}
.classpiece-people {
  position: absolute;
  z-index: 1;
  cursor: grab;
  width: 100%;
  height: 100%;
}
.classpiece-people:active {
  cursor: grabbing;
}

.classpiece-person {
  position: absolute;
  display: block;
  z-index: 2;
  cursor: pointer !important;
}
.classpiece-person:hover {
  background-color: rgba(0,15,255,0.2);
}
.classpiece-person > span {
  display: none;
}
.classpiece-person.selected {
  border: 4px solid rgba(0,15,255,1);
    background-color: rgba(0,15,255,0.1);
}
.metadata-title {
  font-weight: 500;
  text-transform: capitalize;
}
.list-items {
  list-style-type: none;
  margin: 0 0 0 15px;
  padding: 0;
}
.card label {
    font-size: 0.8571em;
    margin-bottom: 5px;
    color: #9A9A9A;
}
.classpiece-tooltip {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 9;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  padding: 5px 15px;
  font-size: 13px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 8px 0px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 3px 3px -2px;
  max-width: 200px;
}
.classpiece-tooltip.active {
  visibility: visible;
  opacity: 0.9;
}
.classpiece-triangle-left {
  position: absolute;
  top: 5px;
  left: -12px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 15px 10px 0;
  border-color: transparent #000000 transparent transparent;
}
.classpiece-triangle-right {
  position: absolute;
  top: 5px;
  right: -12px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #000000;
}
.tool-box {
  float: right;
  font-size: 15px;
  line-height: 2rem;
}
.tool-box .action-trigger {
  cursor: pointer;
}
.tool-box > div {
  display: inline-block;
  margin-right: 10px;
}
.tool-box > div:last-child {
  margin-right: 0;
}
.search-toggle {
  font-size: 13px;
  text-decoration: underline;
  cursor: pointer;
  padding-bottom: 10px;
  color: $dark-brown;
}
.search-toggle:hover {
  color: $dark-brown-hover
}
.search-toggle:active {
  color: $dark-brown-active
}
.search-dropdown-inputgroup {
  position: relative;
}
.simple-search-input {
  border-right: 0 none;
  padding-right: 25px !important;
  z-index: 1;
}
.search-dropdown-inputgroup > .input-group-append {
  z-index: 5;
}
.clear-search {
  border: 0 none !important;
  top: 1px;
  height: 29px;
  background-color: #fff;
  margin-left: -25px;
  position: relative;
}
.clear-search:focus {
  border: 0 none !important;
  outline: none !important;
  box-shadow: none !important;
  background-color: #fff !important;
}
.clear-search:hover {
  border: 0 none !important;
  color: #444;
  background-color: #fff;
}
.clear-search:active {
  background-color: #fff !important;
  color: #222 !important;
  border: 0 none !important;
}
.toggle-search {
  text-decoration: underline;
  color: #333 !important;
  cursor: pointer;
  text-align: center;
  margin: 10px 0;
  font-size: 13px;
}


.advanced-search-row {
  width: 100%;
  margin-bottom: 5px;
  white-space: nowrap;
}
.advanced-search-row:first-child {
  margin-bottom: 20px;
}
.advanced-search-row > div {
  display: inline-block;
}
.advanced-search-input {
  min-width: 100px;
  width: calc(50% - 75px);
  vertical-align: top;
  margin-left: -1px;
  z-index:9;
}
.advanced-search-input > input {
  border-radius: 0 !important;
  height: 32px;
}
.advanced-search-select {
  min-width: 100px;
  width: calc(45% - 110px);
  vertical-align: top;
  border: 1px solid #ced4da;
}
.advanced-search-select > select {
  height: 30px !important;
  border: 0 none !important;
  border-radius: 0;
  font-size: 12px;
}
.advanced-search-select > select:focus {
  box-shadow: 0 none !important;
}
.advanced-search-qualifier {
  margin-left: -1px;
  width: 110px;
  vertical-align: top;
  border: 1px solid #ced4da;
}
.advanced-search-qualifier > select {
  height: 30px !important;
  border: 0 none !important;
  border-radius: 0;
  font-size: 12px;
}
.advanced-search-qualifier > select:focus {
  box-shadow: 0 none !important;
}
.advanced-search-boolean {
  width: 75px;
  vertical-align: top;
  border: 1px solid #ced4da;
  margin-left: -1px;
}
.advanced-search-boolean > select {
  height: 30px !important;
  border: 0 none !important;
  border-radius: 0;
  font-size: 12px;
}
.advanced-search-button {
  width: 20px;
  margin-left: -1px;
  z-index:8;
}
.advanced-search-button > button {
  height: 32px !important;
  padding: 5px;
  background-color: #fff;
  border-color: #ced4da;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.advanced-search-submit-row {
  width: 350px;
  padding: 5px;
  display: block;
  color: #333 !important;
  height: 32px;
  cursor: default;
}
.advanced-search-submit-row:hover {
  background-color: #f5f5f5;
}
.advanced-search-submit-row > button {
  float: right;
  position: relative;
  margin-top: -3px;
  width: 24px;
  height: 24px;
  border: 0 none;
  padding: 0;
  line-height: 24px;
  text-align: center;
}
.alternate-appelations > .label {
  padding-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #555;
  cursor: default;
}
section {
  padding: 80px 0;
  position: relative;
  display: block;
  margin: 0 -15px;
}
.section-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 24px;
  margin-bottom: 40px;
  color: $dark-green;
  font-weight: 300;
  font-family: 'Spartan',Helvetica,Arial,sans-serif;
}
.section-title > span {
  border-bottom: 3px solid $dark-green;
  padding: 0 15px 0 0;
  display: inline-block;
}
.section-title > span > span {
  font-size: 32px;
}

.section-numbers {
  padding: 30px 0;
}
.section-numbers-bg {
  background-color: $dark-green;
  background-attachment: fixed;
  background-size: cover;
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.section-numbers-bg-gradient {
  background-image: linear-gradient(to right, rgba($green,0.9),rgba($green,0.6), rgba($green,0.8));
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.section-numbers-content {
  z-index: 2;
  position: relative;
}
.section-numbers-content i {
  display: block;
  font-size: 40px;
}
.numbers-row .home-count {
  color: #fff;
  text-align: center;
  padding-bottom: 15px;
}
.numbers-row label {
  font-size: 48px;
  font-weight: 400;
}
.numbers-row span {
  padding: 0;
  margin-top: -18px;
  display: block;
  text-transform: lowercase;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.white-section {
  background-color: #fff;
}

.headerNavbar-container{
  position: fixed;
  top: 0;
  opacity: 0.8;
  font-size: 12px;
  z-index:999999999999999999;
}

.clear-filters {
  font-size: 13px;
  cursor: pointer;
}
.clear-filters:hover {
  color: #666;
}
.clear-filters:active {
  color: #222;
}
.news-item-image {
  border-radius: 5px;
  overflow: hidden;
}
.news-item-details h4 {
  font-size: 20px;
  padding: 15px 0 5px 0;
}
.news-item-date {
  font-size: 13px;
  color: #666;
  padding-bottom: 10px;
}
.news-item-small {
  border-bottom: 1px dashed #ddd;
  padding-top: 0;
  margin-top: 0;
  vertical-align: top;
}
.news-item-small .news-item-image {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-position: center center;
  background-size: cover;
}
.news-item-small .news-item-details {
  display: inline-block;
  padding-left: 15px;
  width: calc(100% - 65px);
}
.news-item-small .news-item-details h4 {
  font-size: 15px;
}
.news-item-small:first-child {
  margin-top: -10px;
}
.news-item-small:last-child {
  border-bottom: 0 none;
}

.footer {
  min-height: 200px;
  background-color: $dark-grey;
  padding: 50px;
  color: #fff;
}
.footer-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer-menu > li {
  padding: 0 0 10px 0;
}
.contact-info {
  color: #fff;
}
.contact-info h4 {
  font-size: 17px;
}
.mu-footer {
  background-color: #fff;
  padding: 40px 0;
}
.mu-footer .small-text {
  font-size: 8pt;
  line-height: 11pt;
}
.mu-footer-logo {
  border-radius: 4px;
  max-height: 40px;
  background-color: #fff;
  padding: 10px;
  margin: 5px;
}
.muahi-footer-logo {
  max-height: 40px;
  margin: 8px;
}
.spcm-footer-logo {
  max-height: 40px;
  margin: 8px;
}
.footer-2 {
  background-color: $darker-grey;
  padding: 20px 0;
  border-top: 1px solid #444;
  color: #fff;
}

.article-thumbnail {
  float: left;
  margin: 0 15px 15px 0;
  max-width: 200px;
  max-height: 200px;
}
.content-article-item {
  display: block;
  padding: 10px 0;
  border-bottom: 1px dashed #ddd;
}
.content-article-item:last-child {
  border-bottom: 0 none;
}
.content-article-item-thumbnail {
  padding: 0;
  margin: 0;
  width: 80px;
  height: 80px;
  display: inline-block;
  vertical-align: top;
}
.article-list-thumbnail {
  max-width: 80px;
  max-height: 80px;
}
.content-article-item-content {
  display: inline-block;
  padding: 0px 0px 0px 15px;
  width: calc(100% - 95px);
}
.content-article-item-content h4 {
  font-size: 18px;
  margin-bottom: 5px;
}
.content-article-item-content .news-item-date {
  padding-bottom: 0;
}
.category-children-categories-container {
  padding: 0 15px;
  border-left: 1px dashed #ddd;
  min-height: 100px;
  font-size: 18px;
}
.category-children-categories-item::before {
  content: "-";
  padding-right: 10px;
}
.category-children-categories-item {
  line-height: 30px;
}
.category-children-categories-children {
  padding-left: 15px;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.toggle-info-btn i {
  transition: 0.3s all;
}
.toggle-info-btn i.closed {
  transform: rotate(90deg);
}
.metadata-info-container {
  transition: 0.3s all cubic-bezier(0, 1, 0.5, 1);
  max-height: 100%;
  border-bottom: 1px solid #eee;
  margin-top: 15px;
}
.metadata-info-container.closed {
  max-height: 36px;
  overflow: hidden;
}
.people-info-container {
  transition: 0.3s all linear-gradient;
  max-height: 100%;
}
.people-info-container.closed {
  max-height: 0;
  overflow: hidden;
}
.people-info-container.closedWithSearch {
  max-height: 78px;
  overflow: hidden;
}
.classpiece-details-container {
  margin-top: 15px;
}
.classpiece-details-container > div {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.classpiece-details-container > div:last-child {
  border-bottom: 0 none;
}
.classpiece-details-description {
  margin-bottom: 20px;
}
.classpiece-details-table {
  margin-bottom: 20px;
  width: 100%;
  empty-cells: show;
}
.classpiece-details-table th {
  vertical-align: top;
  padding: 2px;
  border-bottom: 1px solid #ededed;
  white-space: nowrap;

  font-weight: 400;
  width: 15%;
}
.classpiece-details-table td {
  vertical-align: top;
  padding: 2px;
  border-bottom: 1px solid #ededed;

  width: 85%;
}
.classpiece-details-table tr:last-child th, .classpiece-details-table tr:last-child td {
  border-bottom: none;
}
.tag-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.tag-list-people {
  justify-content: flex-start;
  max-height: 500px;
  overflow-y: auto;
}
.tag-list li {
  margin: 0 5px 0 0;
}
@media screen and (max-width: 400px) {
  .tag-list li  {
    max-width: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.tag-list li a:link, .tag-list li a:visited{
  color: #777;
}
.tag-list li a:hover, .tag-list li a:active{
  background: #999999;
  color: #ffffff;
  text-decoration: none;
}
.tag-list-pagination {
  white-space: nowrap;
}
.tag-list-pagination span {
  font-size: 12px;
  padding: 10px 0 0 5px;
  display: inline-block;
}
.tags-search-container {
  height: 0;
  display: block;
  transition: 0.2s height;
  overflow: hidden;
}
.tags-search-container.visible {
  height: 32px;
}
.tag-bg {
  cursor: pointer;
  background: #e6e6e6;
  border-radius: 4px;
  flex: none;
  text-align: center;
  padding: 2px 5px;
}
.tag-item {
  box-sizing: content-box;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  display: inline-block;
  text-align: left;
  margin-bottom: 2px;
}
.tag-item > span {
  display: block;
}
.tag-dot {
  margin: 0 5px 10px 0;
}
.classpiece-people-search-input {
  width: auto;
  padding-right: 10px;
}
.classpiece-people-search-input .simple-search-input {
  border-top-right-radius: .2rem !important;
  border-bottom-right-radius: .2rem !important;
  border-right: 1px solid #ced4da !important;
}
.classpiece-people-search-input .clear-search {
  margin-left: -28px;
}
.pull-icon-middle {
  margin-top: 3px;
}
.classpiece-search {
  margin-right: 3px;
}
.classpiece-search .action-trigger {
  display: block;
  border: 1px solid #ced4da;
  border-radius: .2rem;
  width: 22px;
  height: 22px;
  margin-top: 3px;
  line-height: 22px;
  text-align: center;
  font-size: 12px;
}
.person-thumbnailImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  margin-bottom: 15px;
}
.person-label {
  text-align: center;
  margin-top: 10px;
}
.person-details-container > div, .item-details-container > div{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.person-details-container > div:last-child, .item-details-container > div:last-child {
  border-bottom: 0 none;
}
.person-info-container, .item-info-container {
  border-bottom: 1px solid #eee;
}
.person-info-table, .item-info-table {
  margin-top: 15px;
  margin-bottom: 20px;
  width: 100%;
  empty-cells: show;
}
.person-des-container {
  margin-top: 3%;
  margin-left: 10%;
  width: 80%;

  line-height: 1.8;
}
.person-des-content {
  margin-left: 5%;
  font-size: 16px;
}
.events-list {
  margin-bottom: 10px;
}
.events-list-thumbnail {
  max-width: 40px;
  margin-right: 10px;
}
.organisations-list {
  margin-bottom: 10px;
}
.organisations-list-thumbnail {
  max-width: 40px;
  margin-right: 10px;
}
.filter-block {
  margin-bottom: 15px;
}
.map-container {
  width: 100%;
  height: 500px;
  display: block;
  overflow: hidden;
  position: relative;
}
.leaflet-container {
  display: block;
  width: 100%;
  height: 500px;
  position: relative;
}
.heatmap-legend {
  position: absolute;
  bottom: 16px;
  right: 0;
  z-index: 999999;
  background-color: rgba(255,255,255,0.7);
  padding: 5px 15px 5px 5px;
}
.heatmap-legend > ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.heatmap-legend > ul > li {
  font-size: 12px;
  line-height: 12px;
  color: #555;
}
.heatmap-legend-color {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right:4px;
}
.leaflet-default-icon-path {
  width: 30px !important;
  height: 30px !important;
  padding: 4px 8px;
  background-image: none!important;
}
.marker-cluster div span{
  opacity: 0.6;
  text-shadow: -1px -1px 5px #fff;
}
.marker-cluster-medium, .marker-cluster-small {
  background-color: transparent !important;
}
.marker-cluster-medium div, .marker-cluster-small div {
  background-color: transparent !important;
  font-weight: bold !important;
}
.graph-container {
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  height: 660px;
  position: relative;
  overflow: hidden;
}
.graph-details-card {
  position: absolute;
  top: 10px;
  left: 10px;
  max-height: 350px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  min-width: 350px;
  max-width: 500px;
  z-index:99;
}
.graph-details-card-close {
  font-size: 16px;
  position: absolute;
  top: 2px;
  right: 0;
  width: 24px;
  width: 24px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  color: #666;
}
.graph-details-card-close:hover {
  color: #999;
}
.graph-details-card-close:active {
  color: #444;
}
.graph-details-card .card-title {
  padding: 10px 15px 0 15px;
  margin: 0;
}
.graph-details-card .card-title > h4 {
  font-size: 18px;
}
.graph-details-card .node-relations-title .badge {
  cursor: pointer;
}
.graph-details-card .card-body {
  padding-top: 0;
}
.graph-details-card .card-content {
  overflow: auto;
  max-height: 200px;
  padding-right: 10px;
  margin-right: -10px;
}
.node-relations-list {
  overflow-y: auto;
  height: 120px;
}
.graph-details-card .card-content .entries-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.graph-details-card .card-content .entries-list > li:before {
  content: "-";
  color: #999;
  padding: 0 5px;
}
.graph-details-card .card-content .entries-list li, .graph-details-card .card-content .entries-list li a {
  font-size: 13px;
}
.graph-details-card .card-content .entries-list li .graph-link-rel {
  font-size: 11px;
  color: #555;
}
.graph-details-card .card-content .entries-list li .arrow {
  font-size: 11px;
  color: #555;
  padding: 0 5px;
}
.graph-details-card .card-footer {
  padding: 10px 0 0 0;
  margin-top: -5px;
  margin-bottom: -5px;
  text-align: center;
  background-color: transparent;
  border: 0 none;
}
.graph-actions {
  position: absolute;
  top: 15px;
  right: 10px;
  width: 80px;
  text-align: center;
}
.graph-actions .zoom-panel {
  margin: 0 auto 15px auto;
  position: relative;
  z-index: 3;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  border-radius: 6px;
  width: 40px;
}
.zoom-action {
  cursor: pointer;
  background-color: #FFF;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  transition: all 0.3s;
}
.zoom-panel .zoom-action:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.zoom-panel .zoom-action:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.zoom-action:hover {
  background-color: #eee;
}
.zoom-action:active {
  background-color: #d0d0d0;
}

.graph-actions .pan-container, .options-trigger {
  padding: 0;
  margin: 0 auto 15px auto;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  z-index: 3;
  box-shadow: 0 1px 3px rgba(0,0,0,0.7);
  right: 0;
  top: 0;
}
.graph-search-toggle {
  width: 40px;
  height: 40px;
  margin: 10px auto 15px auto;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  right: 0;
  z-index: 3;
  box-shadow: 0 1px 3px rgba(0,0,0,0.7);
  text-align: center;
  line-height: 40px;
  transition: all 0.3s;
  cursor: pointer;
}
.graph-search-toggle:hover {
  background-color: #eee;
}
.graph-search-toggle:active {
  background-color: #d0d0d0;
}
.graph-help-toggle {
  width: 40px;
  height: 40px;
  margin: 10px auto 15px auto;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  right: 0;
  z-index: 3;
  box-shadow: 0 1px 3px rgba(0,0,0,0.7);
  text-align: center;
  line-height: 40px;
  transition: all 0.3s;
  cursor: pointer;
}
.graph-help-toggle:hover {
  background-color: #eee;
}
.graph-help-toggle:active {
  background-color: #d0d0d0;
}
.graph-search-container {
  width: 250px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.7);
  position: absolute;
  top: 0;
  right: -255px;
  transition: all 0.5s;
  z-index: 5;
}
.graph-search-container.visible {
  right: 0;
}
.close-graph-search-container {
  width: 20px;
  height: 20px;
  cursor: pointer;
  line-height: 20px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
}
.close-graph-search-container:hover {
  color: #666;
}
.close-graph-search-container:active {
  color: #000;
}
.graph-search-input {
  padding: 0 15px;
  margin: 20px 0 10px 0;
  position: relative;
}
.graph-search-input-type {
  margin: 10px 15px;
}
.graph-search-input input {
  padding-right: 20px;
}
.graph-search-input > i {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}
.graph-search-input > i:hover {
  color: #666;
}
.graph-search-input > i:active {
  color: #000;
}
.graph-search-container-nodes {
  height: 530px;
  overflow-x: hidden;
  overflow-y: auto;
}
.graph-search-container-nodes > div {
  cursor: pointer;
  padding: 5px 15px;
  border-bottom: 1px solid #ddd;
}
.graph-search-container-nodes > div:first-child {
  border-top: 1px solid #ddd;
}
.graph-search-container-nodes > div:hover {
  background-color: #f9f9f9;
}
.graph-search-container-nodes > div:active {
  background-color: #f0f0f0;
}
.pan-action {
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 50%;
  font-size: 14px;
}
.pan-action:hover {
  background-color: #eee;
}
.pan-action:active {
  background-color: #d0d0d0;
}
.graph-loading {
  height: 600px;
  line-height: 500px;
  display: block;
  text-align: center;
}
.generic-loading {
  height: 200px;
  line-height: 150px;
  display: block;
  text-align: center;
}
.person-component-link {
  width: 60px;
  height: 60px;
  line-height: 50px;
  border: 4px solid $link;
  border-radius: 100%;
  position: relative;
  display: block;
  margin: 15px auto 0 auto;
  text-align: center;
  transition: 0.4s background-color;
}
.person-component-link > i {
  font-size: 38px;
  vertical-align: middle;
  transition: 0.4s color;
}
.person-component-link:hover {
  background-color: $link-lighter;
}
.person-component-link:hover > i {
  color: #fff;
}
.person-component-link-label {
  font-weight: 400;
  width: 100%;
  text-align: center;
  display: block;
  font-size: 13px;
}
.person-component-link-label label {
  font-weight: 400;
}
.related-nodes-paths-label {
  margin-bottom: 5px;
}
.related-nodes-paths-label > div {
  display: inline-block;
}
.related-nodes-paths-label .source {
  padding-right: 10px;
}
.related-nodes-paths-label .source span {
  color: $green;
}
.related-nodes-paths-label .target span {
  color: $blue;
}
.related-nodes-paths-block {
  position: relative;
  display: block;
}
.related-nodes-paths-count {
  position: absolute;
  top: 0;
  left: 0;
}
.related-nodes-paths {
  margin: 0;
  padding: 0 0 10px 25px;
  list-style-type: none;
  font-size: 13px;
}
.related-nodes-paths > li::before {
  content: "\f068";
  font-family: "FontAwesome";
  padding-right: 5px;
  font-size: 8px;
  vertical-align: middle;
}
.related-nodes-paths > li {
}
.related-nodes-paths > li > div {
  display: inline-block;
}
.related-nodes-paths div {
  padding-right: 5px;
}
.related-nodes-paths .relationship {
  font-size: 11px;
  padding-right: 15px;
  position: relative;
  padding-bottom: 5px;
  top: -5px;
}
.related-nodes-paths .relationship .line {
  position: absolute;
  bottom: 4px;
  border-bottom: 2px solid #333;
  width: calc(100% - 12px);
  height: 2px;
}
.related-nodes-paths .relationship .arrow::after {
  content: "\f054";
  font-family: "FontAwesome";
  position: absolute;
  font-size: 13px;
  width: 15px;
  height: 15px;
  right: -2px;
  top: 7px;
  display: block;
  color: #333;
}


.map-search-toggle {
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 0;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: 8px;
  top: 80px;
  z-index: 999;
  box-shadow: 0 1px 3px rgba(0,0,0,0.7);
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
}
.map-search-toggle:hover {
  background-color: #eee;
}
.map-search-toggle:active {
  background-color: #d0d0d0;
}
.map-help-toggle {
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 0;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: 8px;
  top: 125px;
  z-index: 999;
  box-shadow: 0 1px 3px rgba(0,0,0,0.7);
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
}
.map-help-toggle:hover {
  background-color: #eee;
}
.map-help-toggle:active {
  background-color: #d0d0d0;
}
.map-search-container {
  width: 250px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.7);
  position: absolute;
  top: 0;
  right: -255px;
  transition: all 0.5s;
  z-index: 9999999;
}
.map-search-container.visible {
  right: 0;
}
.close-map-search-container {
  width: 20px;
  height: 20px;
  cursor: pointer;
  line-height: 20px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
}
.close-map-search-container:hover {
  color: #666;
}
.close-map-search-container:active {
  color: #000;
}
.map-search-input {
  padding: 0 15px;
  margin: 20px 0 10px 0;
  position: relative;
}
.map-search-input input {
  padding-right: 20px;
}
.map-search-input > i {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}
.map-search-input > i:hover {
  color: #666;
}
.map-search-input > i:active {
  color: #000;
}
.map-search-container-nodes {
  height: 530px;
  overflow-x: hidden;
  overflow-y: auto;
}
.map-search-container-nodes > div {
  cursor: pointer;
  padding: 5px 15px;
  border-bottom: 1px solid #ddd;
}
.map-search-container-nodes > div:first-child {
  border-top: 1px solid #ddd;
}
.map-search-container-nodes > div:hover {
  background-color: #f9f9f9;
}
.map-search-container-nodes > div:active {
  background-color: #f0f0f0;
}

.img-viewer-search-toggle {
  width: 40px;
  height: 40px;
  margin: 10px auto 15px auto;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top:250px;
  right: 13px;
  z-index: 3;
  box-shadow: 0 1px 3px rgba(0,0,0,0.7);
  text-align: center;
  line-height: 40px;
  transition: all 0.3s;
  cursor: pointer;
}
.img-viewer-search-toggle:hover {
  background-color: #eee;
}
.img-viewer-search-toggle:active {
  background-color: #d0d0d0;
}
.img-viewer-search-container .graph-search-container-nodes {
  height: calc(100vh - 80px);
}

.filter-item {
  width: 100%;
  display: block;
  position: relative;
}
.filter-item > label {
  display: block;
}
.filter-item .title {
  display: none;
  position: fixed;
  background: #fff;
  color: #333;
  white-space: nowrap;
  z-index: 999;
  border-radius: 4px;
}
.filter-item:hover .title {
  display: block;
}
.filter-type-dropdown {
  margin-bottom: 10px;
  font-size: 12px;
}
.filter-label{
  margin-left: 10px;
}
.filter-body .filter-span-type{
  padding-left: 10px;
}
.filter-span{
  vertical-align: top;
  line-height: normal;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: calc(100% - 5px);
  display: inline-block;
  left: 20px;
  position: relative;
}
/* datepicker */
.ui-datepicker {
  width: 100%;
  height: calc(1.5em + .5rem + 2px);
}
.datepicker-wrapper {
  width: 100%;
  display: flex;
  margin: 0 0 15px 0;
  height: calc(1.5em + .5rem + 2px);
}
.datepicker-wrapper .btn-append {
  z-index: 0;
}
.filter-search-font {
  font-size: 7px;
}
.highlights-controls {
  position: absolute;
  top: 10px;
  right: 15px;
}
.highlights-controls > div {
  background-color: rgba(0,0,0,0.1);
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  line-height: 28px;
  text-align: center;
  color: #fff;
  border: 1px solid #d9d9d9;
  margin: 2px;
  cursor: pointer;
  transition: background-color 0.4s;
}
.highlights-controls > div:hover {
  background-color: rgba(0,0,0,0.2);
}
.highlights-controls > div:active {
  background-color: rgba(0,0,0,0.3);
}
.highlights-container {
  width: 100%;
  display: block;
  position: relative;
  overflow-x: hidden;
  height: 280px;
}
.highlights-container-inner {
  position: absolute;
  overflow: hidden;
  height: 280px;
  display: block;
  transition:left 0.3s;
  white-space: nowrap;
}
.visualisations-image {
  width: 100%;
  margin-bottom: 10px;
}
.graph-drawing {
  position: absolute;
  right: 0;
  top: 0;
  padding: 2px 5px;
  font-size: 11px;
  background-color: rgba(255,255,255,0.8);
}
.home-visualisation-thumb {
  margin-bottom: 15px;
}
@media screen and (max-width: 767px) {
  .home-visualisation-block {
    margin-bottom: 15px;
  }
}
.graph-legend-panel {
  position: absolute;
  bottom: 10px;
  right: 5px;
  background-color: rgba(255,255,255,0.7);
  padding: 5px;
  z-index: 2px;
  font-size: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  border-radius: 4px;
}
.graph-legend-panel > ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
}
.graph-legend-panel > ul > li {
  line-height: 15px;
  vertical-align: top;
}
.graph-legend-panel > ul > li > span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid;
  border-radius: 50%;
  vertical-align: middle;
}
.react-datepicker-wrapper {
  display: block !important;
}
.react-datepicker__input-container input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  line-height: 32px;
  color: #555;
}

.item-container {
}
.item-title-container {
  padding-bottom: 2%;
  border-bottom: 1px solid #eee;
}
.item-label {
  margin: 0;
}
.item-content-des {
  margin-bottom: 5%;
}
.item-content-des-title {
  font-size: 20px;
  margin-bottom: 17px;
}
.item-content-table {
  margin-bottom: 20px;
  width: 100%;
  empty-cells: show;
}
.item-content-table th {
  vertical-align: top;
  padding: 2px;
  border-top: 1px solid #ededed;
  font-weight: 400;
  width: 15%;
}
.item-content-table td {
  vertical-align: top;
  padding: 2px;
  border-top: 1px solid #ededed;
  width: 85%;
}
.item-content-table tr:last-child th, .item-content-table tr:last-child td {
  border-bottom: none;
}

.filter-spatial-marker {
  margin-left: 10px;
  font-size: 1rem;
}
.spatial-map-container {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  position: relative;
}
.spatial-map-container.spatials-list-map {
  max-height: 0;
  transition: 0.4s max-height;
}
.spatial-map-container.spatials-list-map.active {
  max-height: 500px;
}
.spatial-map-container.small h5 {
  font-size: 15px;
  padding: 10px 0 0 0;
}
.spatial-map-container.small .leaflet-container {
  max-height: 200px;
  border-radius: 4px;
}
.spatial-note-content {
  font-size: 16px;
}
.spatial-content-table {
  margin-bottom: 20px;
  width: 100%;
  empty-cells: show;
}
.spatial-content-table th {
  vertical-align: top;
  padding: 5px;
  border-top: 1px solid #ededed;
  font-weight: 400;
  width: 30%;
}
.spatial-content-table td {
  vertical-align: top;
  padding: 5px;
  border-top: 1px solid #ededed;
  width: 70%;
}
.spatial-content-table tr:last-child th, .spatial-content-table tr:last-child td {
  border-bottom: none;
}
.selectSpatial {
  width: 90%;
}
.timeline-card {
  //background-color: #eee;
}
.timeline-container {
  height: 500px;
  overflow-y: auto;
}
.timeline-container > ul {
  margin: 0;
  padding: 5px 15px;
  list-style-type: none;
}
.timeline-container > ul > li {
  padding: 0;
  margin: 0;
  vertical-align: middle;
}
@keyframes blinkingBg{
    0%{ background-color: #00cbff; }
    49%{ background-color: #00cbff; }
    60%{ background-color: #fff; }
    99%{ background-color: #fff; }
    100%{ background-color: #00cbff; }
}
@keyframes blinkingText{
    0%{ color: #fff; }
    49%{ color: #fff; }
    60%{ color: #666; }
    99%{ color: #666; }
    100%{ color: #fff; }
}

.timeline-container > ul > li > .timeline-point {
  display: inline-block;
  margin: 3px 0;
  border-top: 1px solid $teal;
  border-bottom: 1px solid $teal;
  border-left: 1px solid $teal;
  padding: 0 36px 0 5px;
  position: relative;
  font-size: 12px;
  line-height: 16px;
  vertical-align: middle;
  cursor: default;
  transition: 0.4s background-color;
  background-color: #fff;
}
.timeline-container > ul > li > .timeline-point > label {
  color: #666;
  font-weight: bold;
}
.timeline-container > ul > li.found > .timeline-point {
  animation:blinkingBg 0.75s infinite;
}
.timeline-container > ul > li.found > .timeline-point > label {
  animation: blinkingText 0.75s infinite;
}
.timeline-container > ul > li > .timeline-point:hover {
  background-color: $teal;
}
.timeline-container > ul > li > .timeline-point:hover > label {
  color: #fff;
}
.timeline-container > ul > li > .timeline-point:active {
  background-color: $dark-teal1;
}

.timeline-container > ul > li > .timeline-point > label {
  padding: 0;
  margin: 0;
  white-space: nowrap;
}
.timeline-container > ul > li > .timeline-point > .triangle-up {
  width: 15px;
  height: 8px;
  transform: rotate(40deg);
  border-bottom: 1px solid $teal;
  background-color: #fff;
  display: block;
  position: absolute;
  right: -5px;
  top: -3px;
  z-index: 2;
}
.timeline-container > ul > li > .timeline-point > .triangle-down {
  width: 15px;
  height: 8px;
  transform: rotate(-40deg);
  border-top: 1px solid $teal;
  background-color: #fff;
  display: block;
  position: absolute;
  right: -5px;
  bottom: -3px;
  z-index: 2;
}

.timeline-container > ul > li > .timeline-point.decade {
  font-size: 13px;
  padding: 0 50px 0 5px;
  background-color: $light-teal;
}
.timeline-container > ul > li > .timeline-point.decade:hover {
  background-color: $light-teal2;
}
.timeline-container > ul > li > .timeline-point.decade:active {
  background-color: $light-teal;
}
.timeline-container > ul > li > .timeline-point.decade:hover > label {
  color: #666;
}
.timeline-container > ul > li > .timeline-point.decade > .triangle-up,
.timeline-container > ul > li > .timeline-point.decade > .triangle-down {
  border-color: $teal;
}
.timeline-container > ul > li > .timeline-point.fifty {
  font-size: 15px;
  padding: 0 64px 0 5px;
  background-color: $teal;
}
.timeline-container > ul > li > .timeline-point.fifty:hover {
  background-color: $light-teal;
}
.timeline-container > ul > li > .timeline-point.fifty:active {
  background-color: $teal;
}
.timeline-container > ul > li > .timeline-point.fifty:hover > label {
  color: #666;
}
.timeline-container > ul > li > .timeline-point.fifty > .triangle-up,
.timeline-container > ul > li > .timeline-point.fifty > .triangle-down {
  border-color: $teal;
}
.timeline-container > ul > li > .timeline-point.century {
  font-size: 16px;
  padding: 0 78px 0 5px;
  background-color: $dark-teal1;
}
.timeline-container > ul > li > .timeline-point.century > label {
  color: #fff;
}
.timeline-container > ul > li > .timeline-point.century:hover {
  background-color: $teal;
}
.timeline-container > ul > li > .timeline-point.century:active {
  background-color: $dark-teal1;
}
.timeline-container > ul > li > .timeline-point.century > .triangle-up,
.timeline-container > ul > li > .timeline-point.century > .triangle-down {
  border-color: $dark-teal1;
}
.timeline-events-container {
  position: absolute;
  width: 400px;
  min-height: 100px;
  max-height: 400px;
  overflow-y: auto;
  border-radius: 4px;
  box-shadow: 0 3px 14px rgba(0,0,0,0.4);
  z-index:9;
  background-color: #fff;
}
.timeline-events-container .heading > h4 {
  font-size: 18px;
  padding: 10px 10px 5px 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0;
}
.timeline-event-item {
  padding: 5px 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: 0.4s background-color;
}
.timeline-event-item:hover {
  background-color: #00cbff;
  color: #fff;
}
.event-details h4{
  font-size: 18px;
  padding: 10px 15px 0 30px;
}
.event-details-back {
  position: absolute;
  left: 10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}
.event-details-back:hover {
  color: #999;
}
.event-details-back:hover {
  color: #666;
}
.event-details-body {
  padding: 10px 15px;
  max-height: 300px;
  overflow-y: auto;
}
.toggle-event-details-related {
  cursor: pointer;
  position: relative;
  display: block;
}
.toggle-event-details-related i {
  position: absolute;
  right: 5px;
  width: 15px;
  height: 15px;
  line-height: 15px;
  vertical-align: bottom;
  transition: 0.2s transform;
  text-align: center;
}
.toggle-event-details-related i:hover {
  color: #999;
}
.toggle-event-details-related i:active {
  color: #666;
}
.toggle-event-details-related.active i {
  transform: rotate(180deg);
}
.related-event {
  background-color: rgb(93, 201, 16);
  margin-right: 10px;
}
.related-organisation {
  background-color: rgb(93, 201, 16);
  margin-right: 10px;
}
.related-person {
  background-color: rgb(93, 201, 16);
  margin-right: 10px;
}
.related-resource {
  background-color: rgb(93, 201, 16);
  margin-right: 10px;
}
.graph-search-toggle.events-timeline {
  position: absolute;
  top: 110px;
  right: 10px;
}
.graph-help-toggle.events-timeline {
  position: absolute;
  top: 170px;
  right: 10px;
}
.events-timeline-search-container {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #fff;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 3px 14px rgba(0,0,0,0.4);
  width: 250px;
  z-index:999;
}
.zoom-panel.events-timeline {
  position: absolute;
  top: 15px;
  right: 10px;
  z-index: 9;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  width: 40px;
}
.events-list-container {
  max-height: 300px;
  overflow-y: auto;
}


.filter-options-container {
  margin-top: 10px;
}
.filter-unseleted-container {
  margin-top: 10px;
}

.resources-list {
  margin-bottom: 10px;
}
.resources-list-thumbnail {
  max-width: 40px;
  margin-right: 10px;
}
.resource-details-container {
  border-bottom: 1px solid #eee;
  margin-top: 15px;
}
.resource-details-description {
  margin-bottom: 20px;
}
.resource-details-table {
  margin-bottom: 20px;
  width: 100%;
  empty-cells: show;
}
.resource-details-table th {
  vertical-align: top;
  padding: 2px;
  border-bottom: 1px solid #ededed;

  font-weight: 400;
  width: 15%;
}
.resource-details-table td {
  vertical-align: top;
  padding: 2px;
  border-bottom: 1px solid #ededed;

  width: 85%;
}
.resource-details-table tr:last-child th, .resource-details-table tr:last-child td {
  border-bottom: none;
}
.show-resource {
  cursor: pointer;
}
.badge-organisation {
  background-color: #9A8CF1;
  color: #fff;
}
.badge-resource {
  background-color: #07CBFF;
  color: #fff;
}
.badge-classpiece {
  background-color: #1FD8BF;
  color: #444;
}
.badge-resource img, .badge-classpiece img {
  display: block;
  max-width: 50px;
  margin: 0 auto 5px auto;
}
.error-container {
  border: 2px solid #f97054;
  color: #f97054;
  padding: 5px 15px;
  border-radius: 6px;
  margin-bottom: 10px;
}
.contact-form-success {
  padding: 60px 0;
  font-size: 18px;
}
.bottom-menu a {
  color: #CCC;
  display: block;
  padding: 6px 0;
}
.scroll-up {
  border: 2px solid $green;
  background-color: #fff;
  opacity: 0.6;
  color: $green;
  width: 40px;
  height: 40px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  text-align: center;
  font-size: 15px;
  line-height: 32px;
  border-radius: 50%;
  transition: linear 0.3s;
}
.scroll-up:hover {
  opacity: 1;
}
.contact-img-logo {
  float: left;
  margin: 0 8px 0 0;
  width: 50px;
  height: 50px;
}
.cookies-consent-container {
  position: fixed;
  right:0;
  bottom: 0;
  left:0;
  border-top: 4px solid $darker-grey;
  padding: 15px 15px 10px 15px;
  z-index: 9999999999999999991;
  text-align: center;
  background-color: rgba(5,127,74,0.95);
  color: #fff;
}
.cookies-consent-content {
  position: relative;
  z-index: 2;
}
.cookies-consent-content a, .cookies-consent-content a:visited {
  color: #aee9f2;
}
.cookies-consent-content button {
  border: 2px solid #fff;
}
.home-about-logo {
  float: left;
  margin: 0 10px 10px 0;
}
.classpieces-list-thumbnail {
  display: block;
  position: relative;
}
.classpiece-thumbnail {
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: 50%;
  background-size: cover;
  z-index: 9;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.resource-list-icon-thumb {
  font-size: 20px;
  margin: 0 5px 5px 0;
}
.pdf-thumbnail {
  text-align: center;
  display: block;
  min-width: 100px;
  max-width: 200px;
  cursor: pointer;
}
.pdf-thumbnail i {
  font-size: 50px;
}
.pdf-thumbnail > label {
  cursor: pointer;
}
.item-thumbnails-nav {
  text-align: center;
  padding: 5px 0;
}
.item-thumbnails-nav > div {
  background-color: rgba(0,0,0,0.1);
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  line-height: 28px;
  text-align: center;
  color: #fff;
  border: 1px solid #d9d9d9;
  margin: 2px;
  cursor: pointer;
  transition: background-color 0.4s;
}
.item-thumbnails-nav > div:hover {
  background-color: rgba(0,0,0,0.2);
}
.item-thumbnails-nav > div:active {
  background-color: rgba(0,0,0,0.3);
}
.img-viewer-actions {
  position: absolute;
  top: 0;
  width: 80px;
  height: 100%;
  transition: 0.7s background-color;
}
.img-viewer-actions:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,0.1);
}
.img-viewer-actions > i {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 15px;
  margin-top: -25px;
  font-size: 50px;
  color: #ddd;
  text-align: center;
}
.img-viewer-right {
  right: 0;
}
.img-viewer-left {
  left: 0;
}
.event-type {
  padding-left: 15px;
}
.timelink-row {
  border-top: 1px solid #eee;
}
.home-welcome {
  margin-top: -36px;
  padding-top: 36px;
  position: relative;
  display: block;
  overflow: hidden;
}
.home-welcome-block {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  width: 0;
  height: 0;
  display: block;
  overflow: hidden;
}
.home-welcome-block.visible {
  width: 100%;
  height: auto;
  -webkit-animation: slide-in 0.3s forwards;
  animation: slide-in 0.3s forwards;
}
@keyframes slide-in {
  100% { transform: translateX(0%); }
}
@-webkit-keyframes slide-in {
  100% { -webkit-transform: translateX(0%); }
}

.home-welcome-pagination {
  position: absolute;
  top: 0;
  right: 15px;
}
.home-welcome-pagination .pagination-action {
  background-color: rgba(0,0,0,0.1);
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  line-height: 28px;
  text-align: center;
  color: #fff;
  border: 1px solid #d9d9d9;
  margin: 2px;
  cursor: pointer;
  transition: background-color 0.4s;
}
.home-welcome-pagination .pagination-action:hover {
  background-color: rgba(0,0,0,0.2);
}
.home-welcome-pagination .pagination-action:active {
  background-color: rgba(0,0,0,0.3);
}
.home-welcome-pagination .pagination-action .next {
  right: 0;
}
.home-welcome-img {
  max-height: 80px;
  margin: 0 10px 5px 0;
  display: block;
  float: left;
}
.home-welcome-img > img {
  max-height: 80px;
  border: 0 none;
}
.home-welcome-body {
  display: block;
}
.cc-footer-img {
  max-height: 36px;
}
.popup-people {
  max-height: 240px;
  width: 400px;
}
.popup-people .tag-list-people {
  max-height: 180px;
}
.heatmap-container .leaflet-popup-content {
  min-width: 400px;
}
.heatmap-container .map-search-container-nodes {
  max-height: 420px;
}
