@import 'assets/styles/colors';

body {
  font-size: 15px;
  font-family: Roboto;
}

h1, h2, h3, h4, h5 {
  font-family: "Spartan","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.hidden {
  display: none !important;
}
.content-container a, .content-container a:link, .content-container a:visited {
  color: $link;
  font-weight: 600;
}
.content-container a:hover {
  color: $link-lighter;
}
.content-container a:active {
  color: $link-darker;
}
.app-body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $footer-grey;
}
.top-bar {
  background-color: $footer-grey;
  height: 30px;
}
.top-bar ul{
  margin: 0;
  padding: 0;
}
.top-bar .top-bar-list > li {
  display: inline-block;
  list-style-type: none;
}
.top-bar .social-icons > li:hover {
  background-color: $dark-grey-hover
}
.top-bar .social-icon {
  color: #fff;
  display: block;
  width: 28px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 0 1px;
}
.top-bar .top-bar-link {
  color: #fff;
  display: block;
  height: 30px;
  line-height: 30px;
}
.top-bar .top-bar-link span {
  font-size: 13px;
}
.header {
  background-color: #fff;
}

.main-nav {
  border-bottom: 1px solid $light-grey;
  transition: all 0.3s linear;
}
.main-nav .navbar {
  padding-top: 0;
  padding-bottom: 0;
}
.main-nav .navbar a {
  text-decoration: none;
}
.main-nav .nav-item {
  padding: 15px 10px 13px 10px;
}
.main-nav .nav-item a{
  color: #444;
}
.main-nav .nav-item {
  border-bottom: 2px solid #FFF;
}
.main-nav .nav-item:hover {
  border-bottom: 2px solid $dark-grey;
}
.main-nav .navbar-toggler-icon {
  line-height: 1.5em;
}
.main-nav .navbar-toggler-nopaddind {
  padding: 0;
}

.content-container {
  background-color: $crem;
  padding: 30px 0 40px 0 !important;
}
.home-carousel {
  margin: -30px -15px 0 -15px;
}
.carousel-default-item {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -30px;
  margin-top: -30px;
}
.carousel-img {
  width: 100%;
  height: 460px;
  position: absolute;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
.carousel-overlay {
  z-index:2;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
}
.carousel-caption {
  z-index: 3;
  font-weight: bold;
  font-size: 16px;
}
.carousel-caption h3 {
  font-size: 36px;
  font-weight: bold;
}
.carousel-caption.d-none {
  display: block !important;
}
.carousel-caption-link {
  margin: 15px auto 0 auto;
  display: block;
  width: 100px;
  text-shadow: none;
  color: #fff !important;
}
.carousel-control-prev, .carousel-control-next {
  z-index: 4;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  background-image: none;
}
.carousel-control-next-icon:after{
  content: "\f054";
  font-family: FontAwesome;
  font-size: 30px;
  color: #fff;
  text-shadow: 1px 1px rgba(0,0,0,0.5);
}

.carousel-control-prev-icon:after {
  content: "\f053";
  font-family: FontAwesome;
  font-size: 30px;
  color: #fff;
  text-shadow: 1px 1px rgba(0,0,0,0.5);
}

.home-highlight {
  position: relative;
  display: block;
  height: 280px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
}
.home-highlight-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(0deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 50%);
}
.home-highlight-img {
  position: absolute;
  z-index: 1;
  background-position: center center;
  background-size: cover;
  display: block;
  top: 0;
  right: 0;
  bottom: 100px;
  left: 0;
  transition: transform 0.5s;
}
.home-highlight-text {
  z-index: 5;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 180px;
  background-color: #fff;
  padding: 15px;
}
.home-highlight:hover .home-highlight-img{
  transform:scale(1.1);
}
.home-highlight-caption {
  font-size: 12px;
}
@media screen and (max-width: 767px) {
  .home-highlight-container {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 576px) {
  .home-highlight-container {
  }
}

.people-list-thumbnail {
  max-width: 40px;
  margin-right: 10px;
}

/* breadcrumbs */

.breadcrumb {
  background-color: #fff;
  justify-content: flex-end;
  font-size: 13px;
  padding: 0.5rem;
}
.breadcrumb-item a {
  color: #137184;
}
.breadcrumb-item a:hover {
  text-decoration: none;
  color: #1689a0;
}
.breadcrumb-item a:active {
  color: #105b6b;
}
.navbar-toggler-icon {

}

.bw-logo {
  display: block;
  white-space: nowrap;
}
.logo-container {
  display: block;
}
.bw-logo .simple-text {
  color: #333;
  text-transform: uppercase;
  display: inline-block;
  font-size: 19px;
  line-height: 19px;
  vertical-align: top;
}
.bw-logo .simple-text.icon {
  position: relative;
  width: 28px;
  height: 22px;
}
.bw-logo .bw-container {
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  top: -5px;
}
.bw-logo
.triangle-left {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 20px solid #333;
  border-right: 20px solid transparent;
  z-index: 1;
}
.bw-logo
.triangle-left-inner {
  position: absolute;
  bottom: 2px;
  left: 2px;
  width: 0;
  height: 0;
  border-bottom: 13px solid #fff;
  border-right: 13px solid transparent;
  z-index: 2;
}
.bw-logo
.triangle-right {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 20px solid #333;
  border-left: 20px solid transparent;
  z-index: 3;
}
.bw-logo
.triangle-right-inner {
  position: absolute;
  bottom: 2px;
  left: 5px;
  width: 0;
  height: 0;
  border-bottom: 13px solid #fff;
  border-left: 13px solid transparent;
  z-index: 4;
}


.page-actions {
  padding-bottom: 15px;
  display: block;
  position: relative;
  min-height: 40px;
}
.go-to-page {
  float: right;
  padding: 0 0 0 10px;
}
.go-to-page input {
  max-width: 40px;
}
.go-to-page .input-group-append {
  background-color: #fff !important;
}
.go-to-page .input-group-append .total-pages {
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  padding: 0 5px;
  line-height: 28px;
  color: #777;
}
.go-to-page input:focus {
  border-color: #dee2e6 !important;
  box-shadow: 0 0 5px rgba(81,203,206,0.8) inset;
}
.go-to-page .btn-outline-secondary, .go-to-page .btn-outline-secondary.disabled {
  border-color: #dee2e6 !important;
}
.go-to-page-btn {
  width: 30px;
}
.filter-item {
  padding-right: 10px;
  float: right;
}
.filter-item .dropdown-toggle.btn-outline-secondary {
  background-color: #fff;
  border-color: #dee2e6 !important;
}
.filter-item .dropdown-toggle.btn-outline-secondary:hover {
  border-color: #6c757d;
  color: #212529;
}
.filter-item .btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle {
  color: #212529;
}
.pagination-container {
  float: right;
}
.pagination-container .page-link {
  color: #666;
  min-width: 36px;
  padding: 0.4rem 0.5rem;
  font-size: 13px;
}
.pagination-container li.active .page-link {
  background-color: #51cbce;
  border-color: #51cbce;
}
.page-link:focus {
  box-shadow: none;
}

.filter-body {
  max-height: 300px;
  overflow: auto;
  padding-right: 15px;
  margin-right: -15px;
}

.filter-body .form-group {
  position: relative;
  margin-bottom: 0;
}
.filter-body .form-check-input {
  margin-left: 0;
}
.filter-body span {
  padding-left: 20px;
}

.show-classpiece {
  cursor: pointer;
}
.classpiece-viewer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999999999999999999;
  overflow: hidden;
  background-color: rgba(0,0,0,0.3);
}
.classpiece-viewer-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.classpiece-viewer-header {
  position: fixed;
  top: 0;
  right: 0;
  left:0;
  height: 60px;
  z-index: 2;
  background-color: rgba(0,0,0,0.3);
}
.classpiece-viewer-header h4 {
  color: #fff;
  line-height: 60px;
  padding: 0 15px;
}
.classpiece-viewer-close {
  cursor: pointer;
  color: #e0e0e0;
  font-size: 60px;
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  text-shadow: 0 0 1px rgba(0,0,0,0.5);
  z-index: 2;
}
.classpiece-viewer-close:hover {
  color: #fff;
}
.classpiece-viewer-close:active {
  color: #ddd;
}
.classpiece-full-size {
  position: absolute;
  z-index: 1;
  cursor: grab;
  display: block;
}
.classpiece-full-size:active {
  cursor: grabbing;
}
.classpiece-full-size .img {
  max-height: 100%;
  max-width: 100%;
}

.zoom-container {
  margin: 0 0 0 5px;
  position: absolute;
  right: 16px;
  top: 80px;
  z-index: 3;
}
.zoom-action {
  cursor: pointer;
  background-color: #FFF;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  transition: all 0.3s;
}
.zoom-container .zoom-action:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.zoom-container .zoom-action:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.zoom-action:hover {
  background-color: #eee;
}
.zoom-action:active {
  background-color: #d0d0d0;
}

.pan-container {
  width: 60px;
  height: 60px;
  margin-top: 20px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  position: absolute;
  right: 5px;
  top: 160px;
  z-index: 3;
}
.pan-action {
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 50%;
  font-size: 14px;
}
.pan-action:hover {
  background-color: #eee;
}
.pan-action:active {
  background-color: #d0d0d0;
}

.pan-action.up {
  top: 0;
  left: 18px;
}
.pan-action.right {
  top: 18px;
  right: 0;
}
.pan-action.down {
  bottom: 0;
  left: 18px;
}
.pan-action.left {
  top: 18px;
  left: 0;
}
.classpiece-people {
  position: absolute;
  z-index: 1;
  cursor: grab;
  width: 100%;
  height: 100%;
}
.classpiece-people:active {
  cursor: grabbing;
}

.classpiece-person {
  position: absolute;
  display: block;
  z-index: 2;
  cursor: pointer !important;
}
.classpiece-person:hover {
  background-color: rgba(0,15,255,0.2);
}
.classpiece-person > span {
  display: none;
}
.metadata-title {
  font-weight: 500;
  text-transform: capitalize;
}
.list-items {
  list-style-type: none;
  margin: 0 0 0 15px;
  padding: 0;
}
.card label {
    font-size: 0.8571em;
    margin-bottom: 5px;
    color: #9A9A9A;
}
.classpiece-tooltip {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 9;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  padding: 5px 15px;
  font-size: 13px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 8px 0px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 3px 3px -2px;
  max-width: 200px;
}
.classpiece-tooltip.active {
  visibility: visible;
  opacity: 0.9;
}
.classpiece-triangle-left {
  position: absolute;
  top: 5px;
  left: -12px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 15px 10px 0;
  border-color: transparent #000000 transparent transparent;
}
.classpiece-triangle-right {
  position: absolute;
  top: 5px;
  right: -12px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #000000;
}
.tool-box {
  float: right;
  font-size: 15px;
  line-height: 2rem;
}
.tool-box .action-trigger {
  cursor: pointer;
}
.tool-box > div {
  display: inline-block;
  margin-right: 10px;
}
.tool-box > div:last-child {
  margin-right: 0;
}
.search-toggle {
  font-size: 13px;
  text-decoration: underline;
  cursor: pointer;
  padding-bottom: 10px;
  color: $dark-brown;
}
.search-toggle:hover {
  color: $dark-brown-hover
}
.search-toggle:active {
  color: $dark-brown-active
}
.search-dropdown-inputgroup {
  position: relative;
}
.simple-search-input {
  border-right: 0 none;
  padding-right: 25px !important;
  z-index: 1;
}
.search-dropdown-inputgroup > .input-group-append {
  z-index: 5;
}
.clear-search {
  border: 0 none !important;
  top: 1px;
  height: 29px;
  background-color: #fff;
  margin-left: -25px;
  position: relative;
}
.clear-search:focus {
  border: 0 none !important;
  outline: none !important;
  box-shadow: none !important;
  background-color: #fff !important;
}
.clear-search:hover {
  border: 0 none !important;
  color: #444;
  background-color: #fff;
}
.clear-search:active {
  background-color: #fff !important;
  color: #222 !important;
  border: 0 none !important;
}
.toggle-search {
  text-decoration: underline;
  color: #333 !important;
  cursor: pointer;
  text-align: center;
  margin: 10px 0;
  font-size: 13px;
}


.advanced-search-row {
  width: 100%;
  margin-bottom: 5px;
}
.advanced-search-row:first-child {
  margin-bottom: 20px;
}
.advanced-search-row > div {
  display: inline-block;
}
.advanced-search-input {
  min-width: 100px;
  width: calc(70% - 140px);
  vertical-align: top;
  margin-left: -1px;
  z-index:9;
}
.advanced-search-input > input {
  border-radius: 0 !important;
  height: 30px;
}
.advanced-search-select {
  min-width: 100px;
  width: calc(40% - 140px);
  vertical-align: top;
  border: 1px solid #ced4da;
}
.advanced-search-select > select {
  height: 28px !important;
  border: 0 none !important;
  border-radius: 0;
}
.advanced-search-select > select:focus {
  box-shadow: 0 none !important;
}
.advanced-search-qualifier {
  margin-left: -1px;
  width: 80px;
  vertical-align: top;
  border: 1px solid #ced4da;
}
.advanced-search-qualifier > select {
  height: 28px !important;
  border: 0 none !important;
  border-radius: 0;
}
.advanced-search-qualifier > select:focus {
  box-shadow: 0 none !important;
}
.advanced-search-boolean {
  width: 60px;
  vertical-align: top;
  border: 1px solid #ced4da;
  margin-left: -1px;
}
.advanced-search-boolean > select {
  height: 28px !important;
  border: 0 none !important;
  border-radius: 0;
}
.advanced-search-button {
  width: 20px;
  margin-left: -1px;
  z-index:8;
}
.advanced-search-button > button {
  height: 30px !important;
  padding: 5px;
  background-color: #fff;
  border-color: #ced4da;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.advanced-search-submit-row {
  width: 350px;
  padding: 5px;
  display: block;
  color: #333 !important;
  height: 30px;
  cursor: default;
}
.advanced-search-submit-row:hover {
  background-color: #f5f5f5;
}
.advanced-search-submit-row > button {
  float: right;
  position: relative;
  margin-top: -3px;
  width: 24px;
  height: 24px;
  border: 0 none;
  padding: 0;
  line-height: 24px;
  text-align: center;
}
.alternate-appelations > .label {
  padding-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #555;
  cursor: default;
}
section {
  padding: 80px 0;
  position: relative;
  display: block;
  margin: 0 -15px;
}
.section-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 24px;
  margin-bottom: 40px;
  color: $dark-green;
  font-weight: 300;
  font-family: 'Spartan';
}
.section-title > span {
  border-bottom: 3px solid $dark-green;
  padding: 0 15px 0 0;
}
.section-title > span > span {
  font-size: 32px;
}

.section-numbers {
  padding: 30px 0;
}
.section-numbers-bg {
  background-color: $dark-green;
  background-attachment: fixed;
  background-size: cover;
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.section-numbers-bg-gradient {
  background-image: linear-gradient(to right, rgba($green,0.9),rgba($green,0.6), rgba($green,0.8));
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.section-numbers-content {
  z-index: 2;
  position: relative;
}
.section-numbers-content i {
  display: block;
  font-size: 40px;
}
.numbers-row .col-4 {
  color: #fff;
  text-align: center;
}
.numbers-row label {
  font-size: 48px;
  font-weight: 400;
}
.numbers-row span {
  padding: 0;
  margin-top: -18px;
  display: block;
  text-transform: lowercase;
  font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.white-section {
  background-color: #fff;
}

.headerNavbar-container{
  position: fixed;
  top: 0;
  opacity: 0.8;
  font-size: 12px;
  z-index:999999999999999999;
}

.clear-filters {
  font-size: 13px;
  cursor: pointer;
}
.clear-filters:hover {
  color: #666;
}
.clear-filters:active {
  color: #222;
}
.news-item-image {
  border-radius: 5px;
  overflow: hidden;
}
.news-item-details h4 {
  font-size: 20px;
  padding: 15px 0 5px 0;
}
.news-item-date {
  font-size: 13px;
  color: #999;
  padding-bottom: 10px;
}
.news-item-small {
  border-bottom: 1px dashed #ddd;
  padding-top: 0;
  margin-top: 0;
  vertical-align: top;
}
.news-item-small .news-item-image {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-position: center center;
  background-size: cover;
}
.news-item-small .news-item-details {
  display: inline-block;
  padding-left: 15px;
  width: calc(100% - 65px);
}
.news-item-small .news-item-details h4 {
  font-size: 15px;
}
.news-item-small:first-child {
  margin-top: -10px;
}
.news-item-small:last-child {
  border-bottom: 0 none;
}

.footer {
  min-height: 200px;
  background-color: $dark-grey;
  padding: 50px;
  color: #fff;
}
.footer-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer-menu > li {
  padding: 0 0 10px 0;
}
.contact-info {
  color: #fff;
}
.contact-info h4 {
  font-size: 17px;
}
.mu-footer {
  background-color: #fff;
  padding: 40px 0;
}
.mu-footer .small-text {
  font-size: 8pt;
  line-height: 11pt;
}
.mu-footer-logo {
  border-radius: 4px;
  max-height: 80px;
  background-color: #fff;
  padding: 10px;
  margin: 5px;
}
.spcm-footer-logo {
  max-height: 80px;
  margin: 5px;
}
.footer-2 {
  background-color: $darker-grey;
  padding: 20px 0;
  border-top: 1px solid #444;
  color: #fff;
}
