.breadcrumb {
  background-color: #fff;
  justify-content: flex-end;
  font-size: 13px;
  padding: 0.5rem;
  border: 1px solid rgba(0,0,0,.125)
}
.breadcrumb-item a {
  color: #137184;
  text-decoration: none;
}
.breadcrumb-item a:hover {
  text-decoration: none;
  color: #1689a0;
}
.breadcrumb-item a:active {
  color: #105b6b;
}
.breadcrumb-item i {
  line-height: 12px;
  margin: 3px 0 0 0;
  font-size: 15px;
  position: relative;
  bottom: -1px;
}
