.news-item-image {
  border-radius: 5px;
  overflow: hidden;
}
.news-item-details h4 {
  font-size: 20px;
  padding: 15px 0 5px 0;
}
.news-item-date {
  font-size: 13px;
  color: #666;
  padding-bottom: 10px;
  display: block;
}
.news-item-date > .item {
  display: inline-block;
  white-space: nowrap;
}
.news-item-date > .item:first-child {
  padding-right: 5px;
}
.news-item-small {
  border-bottom: 1px dashed #ddd;
  padding-top: 0;
  margin-top: 0;
  vertical-align: top;
  margin-bottom: 10px;
}
.news-item-small-link {
  display: block;
  float: left;
  margin: 0 10px 10px 0;
}
.news-item-small > a {
  vertical-align: top;
}
.news-item-small .news-item-image {
  width: 50px;
  height: 50px;
  display: block;
  background-position: center center;
  background-size: cover;
}
.news-item-small .news-item-details {
  display: block;
  padding-left: 15px;
}
.news-item-small .news-item-details h4 {
  padding-top: 5px;
  font-size: 15px;
  max-height: 57px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.news-item-small:first-child {
  margin-top: -10px;
}
.news-item-small:last-child {
  border-bottom: 0 none;
}
@media screen and (max-width: 576px) {
  .news-container  {
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid #034428;
  }
  .news-item {
    padding-bottom: 5px;
    margin-bottom: 25px;
    border-bottom: 1px solid #ddd;
  }
  .news-item .news-item-image {
    max-height: 150px;
  }
  .news-item .news-item-image > a {
    display: block;
    overflow: hidden;
  }
  .news-item .news-item-image > a > img {
    max-height: 150px;
    display: block;
    position: relative;
    margin: 0 auto;
  }
}
