$dark-grey: #24302a;
$darker-grey: darken( $dark-grey, 3% );
$light-grey: #EAECEF;
$dark-grey-hover: lighten( $dark-grey, 15% );

$red: #FA5554;
$crem: #F4F3F0;
$link: #3c6651;
$link-lighter: lighten( $link, 15% );
$link-darker: darken( $link, 15% );


$footer-grey: lighten( $dark-grey, 10% );

$dark-brown: #252E31;
$dark-brown-hover: lighten( $dark-brown, 20% );
$dark-brown-active: darken( $dark-brown, 20% );

$green: #057f4a;
$dark-green: darken( $green, 12% );
$darker-green: darken( $green, 24% );
$light-green: lighten( $green, 20% );

$blue: #0777af;
$dark_blue: #00334d;
$white: #ffffff;
$black: #000000;
